.exit-btn {
position: absolute;
top: 10%;
right: 13%;
font-size: 1.3rem;
}

.animal-container {
  margin: 0 ; 
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1625px;

  .animal-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
    text-align: center;

    &:hover {
      transform: translateY(-7px);
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .animal-img {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;
      border: 15px solid rgb(64, 217, 120);
      background-color: rgb(255, 255, 255);
    }

    .animal-img-red {
      border: 15px solid rgb(157, 67, 67);
    }
  
    .animal-img-orange {
      border: 15px solid rgb(225, 133, 40);
    }

    .animal-name {
      font-size: 1.5rem;
      margin-top: 10px;
      color: #333;
    }

    .animal-birth-year {
      font-size: 1.2rem;
      margin-top: 5px;
      color: #666;
    }

    .animal-description {
      margin-top: 10px;
      line-height: 1.4;
    }
  }
}