.animal-info {
    flex: 2;
    display: flex;
    width: 200px;
    margin: 50px;
    width: 400px;

    .wrapper {
      border-radius: 15px;
      background-color: white;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

      .animal-name {
        font-size: 2rem;
        color: #333;
        margin: 0 0 10px;      
      }

      .animal-year {
        font-size: 1.3rem;
        color: #666;
        margin: 0;
      }

      .animal-description {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #333;
        text-align: center;
      }
    }
  }